* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url("Fonts/segoeUI.ttf");
}

.code {
    font-family: 'Courier New', Courier, monospace;
    src: url("courierNew.ttf");
}

body {
    font-weight: 450;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 1.5%;
    font-size: 19px;
}

/* body:before {
    content: '';
    position: absolute;
    background-image: url("Second.png");
    opacity: 0.4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    background-size: 50%;
} */

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

/*

PREVIOUS NAVBAR VERSION

ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
    align-items: center;
}

li {
    float: center;
    padding: 16px 14px;
}

.liForNavbar {
    display: inline;
    transition-duration: 0.3s;
}

.liForNavbar :hover {
    color: gray;
    transition-duration: 0.3s;
}

.navbar {
    color:aliceblue;
    text-decoration: none;
    margin: 1%;
    vertical-align: middle;
    border-right: 2px solid gray;
    padding-left: 1%;
    padding-right: 1%;
}

.navbarPresent {
    color: rgb(97, 167, 115);
    text-decoration: none;
    margin:1%;
    vertical-align: middle;
    border-right: 2px solid gray;
    padding-left: 1%;
    padding-right: 1%;
}

.logoImage {
    padding-right: 2%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.lineNavbarTop {
    width: auto;
    border-top: 2px solid white;
    margin: auto;
    padding: 1%;
}

*/

#navigationDiv {
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0%;
}

.navbar {
    width: 60%;
    height: 50%;
    text-align: center;
    padding: 0 0 0.5% 0;
    margin: 0 auto auto auto;
    display: inline-block;
    font-size: 14px;
}

.navbar img {
    width: 4%;
    max-width: 6%;
    transition-duration: 0.3s;
    vertical-align: middle;
}

.navbar img:hover {
    filter: grayscale(100%);
    cursor: pointer;
}

.navbar a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 2%;
    transition-duration: 0.3s;
}

.navbar a:hover {
    color:rgb(122, 122, 122);
}

.navbar .lineNavbarBottom {
    width: auto;
    border-bottom: 1px solid gray;
    padding: 2% 0 0 0;
    margin: auto auto;
}

/* Second old navigation bar 
.lineNavbarBottom {
    width: auto;
    border-bottom: 2px solid white;
    padding: 0;
    margin: auto auto;
}

#navigationDiv {
    width: auto;
    margin: 0 auto;
    height: auto;
    font-size: 16px;
}

.navbar img {
    comment float: center; /comment
    width: 2.5%;
    transition-duration: 0.45s;
}

.navbar img:hover {
    filter: grayscale(100%);
    transition-duration: 0.45s;
}

.navbar li {
    list-style: none;
    text-decoration: none;
    color: white;
    width: auto;
    height: auto;
}

.navbar ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 1.2%;
    transition-duration: 0.3s;
    vertical-align: middle;
}

.navbar li a:hover {
    color: gray;
    transition-duration: 0.3s;
} */

/* .hide {
    display: none;
    text-decoration: none;
    color: blue;
    transition-duration: 100s;
}

.dropDown:hover + .hide {
    transition-duration: 0.3s;
    display: block;
} */

.downloadSecond {
    text-decoration: none;
    color: rgb(54, 129, 199);
    border: 1px solid white;
    border-radius: 50px;
    width: 20%;
    margin: auto;
    padding: 1%;
    background-color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}


.downloadSecondButton {
    padding: 1%;
    margin-bottom: 2%;
}

.downloadSecondButton :hover {
    color: black;
    filter: invert(100%);
}

.last footer {
    margin-top: 2%;
    padding: 2%;
    background-color: rgb(0, 0, 0);
    font-size: large;
    width: auto;
    margin-top: 1%;
    position: relative;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

/* .watermark {
    position: relative;
}

.watermark::after {
    content: '';
    background-image: url("Second.png");
    width: 200%;
    display: block;
    opacity: 0.4;
    position: fixed;
    margin: 0;
    pointer-events: none;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
} */

.linkWithoutTextDec {
    text-decoration: none;
    color: rgb(130, 196, 253);
    transition-duration: 0.5s;
}

.linkWithoutTextDec:hover {
    color: aliceblue;
}

.animationForContactsLinkIndexHTML {
    text-decoration: none;
    color: rgb(145, 203, 253);
    transition-duration: 0.3s;
}

.animationForContactsLinkIndexHTML:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

.secondHTMLLinks {
    color:rgb(145, 203, 253);
    text-decoration: none;
    transition-duration: 0.3s;
}

.secondHTMLLinks:hover {
    color: green;
    text-decoration: underline;
    transition-duration: 0.3s;
}

.secondHTMLTable table {
    width: 65%;
    margin: 0 auto;
    border: 2px solid white;
}

.secondHTMLTable th, td {
    margin: 0 auto;
    border: 2px solid white;
    padding: 1rem;
}

.mainContentWidthAdj {
    margin: 0 20%;
    text-align: justify;
}

.mainContentWidthAdj h3 {
    font-size: 30px;
}

.verticalPageAccess {
    width: 20%;
    height: auto;
    background-color: rgb(154, 154, 154);
    margin: 0;
    padding: 0;
    float: left;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

.verticalPageAccess a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    display: block;
    font-weight: bold;
    height: auto;
}

@media screen and (max-width: 600px) {
    .navbar {
        max-height: none;
        top: 0;
        position: relative;
        float: left;
        width: fit-content;
        background-color: transparent;
    }

    .navbar li {
        float: right;
    }

    .navbar a:hover {
        background-color: transparent;
    }
    
}
